<html>
    <body>
        <form action="/author" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="digite o nome do autor"/>
            </div>
            <div>
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" placeholder="digite o sobrenome do autor"/>
            </div>
            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>
